
  .nav1 {
    background-color: #3495e5!important;
    height: 44px;
    width: 100%;
}
}
.nav1 {
      background-color: #fff;
      height: 300px;
      width: 100%;
}
h6 {
  color: white;
  font-size: 17px;
  line-height: 40px;
}
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
